body {
    background-color: Gainsboro;
    font-weight: bold;
}

h1 {
    background-color: LightSteelBlue;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin: auto;
}

#pw-rules {
    width: 600px;
    margin: auto;
    font-size: 12px;
}


.main-form {
    font-size: 25px;
    margin: auto;
    top-margin: 75px;
    padding: 10px;
    border-radius: 15px;
    background-color: LightSteelBlue;
    width: 600px;
    text-align: left;
}

.little-form {
    font-size: 25px;
    top-margin: 20px;
    width: 600px:
    margin: auto;
}

footer {
    margin-top: 200px;
    background-color: LightSteelBlue;
    width: 100%;
}